[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-rest-framework = "*"
django-filter = "*"
markdown = "*"
django-allauth = "*"
django-betterforms = "*"
django-crispy-forms = "*"
pillow = "*"
djangorestframework = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.9"
