django-ckeditor
django-mapbox-location-field
djangorestframework
django-filter
markdown
django-allauth
django-ckeditor
django-crispy-forms
django-betterforms
django-cors-headers
django-phonenumbers
pillow
flakes8
black
isort
psycog  
django-countries
django-autoslug
django-filter
phonenumbers
